<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Mark Cheeseman" />
   <link rel="alternate" type="application/atom+xml" title="Programming Seeking Understanding - feed" href="http://feeds2.feedburner.com/ProgrammingSeekingUnderstanding">
   <link href="http://www.hombredequeso.id.au/atom.xml" rel="alternate" title="Programming Seeking Understanding" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />


</head>
<body>


<div class="site">
  <div class="title">
    <a href="/">Programming Seeking Understanding</a>
    <div class="subtitle">The blog of Mark Cheeseman</div>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Mark Cheeseman<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/hombredequeso/">Github</a>
	    <a href="http://au.linkedin.com/in/mcheeseman">Linkedin</a>
	    <br/>
      </p>
    </div>
	  <a class="rss" href="http://hombredequeso.id.au/atom.xml">Subscribe</a>
  </div>
</div>

</body>
</html>
